$primary_purple: #643f82;
$primary_yellow: #f6a200;
$primary_green: #37ac00;
$primary_white: #ffffff;
$primary_gray: #94a3b8;
$primary_black: #000000;

$secondary_purple: #8151a8;
$secondary_green: #41ca00;
$secondary_gray: #cbd5e1;
