.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 110px;

  .text {
    color: #fff;
    font-size: 1rem;
  }

  .img {
    width: 20px;
    height: 20px;
    cursor: pointer;
  }
}
