.wrapper {
  width: 100%;
  padding-top: 18px;
}

.dobleButton {
  display: flex;
  gap: 8px;
  padding: 4px 0;
}

.oneButton {
  display: flex;
  padding: 4px 0;
}

.bottomButton {
  display: flex;
  padding-top: 12px;
}
