.block {
  position: relative;
  width: 100%;
  height: 256px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #250e36;
  border: 1px solid #4b2964;

  .cross {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
  }
}

@media (max-width: 420px) {
  .block {
    padding: 50px 20px;
  }
}
